.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-style{
  background-image:url("https://i.pinimg.com/originals/89/ba/ae/89baaec3227c63044d8d715b7388f8b7.png");
  position: fixed;
  min-width: 178vh;
  min-height:100vh;
  background-size: cover;
  background-position: center;
}
.App-header {
  background-color: #4cc4a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(245, 239, 239);
}

.App-link {
  color: #7061fb;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
 }
